{% extends "base.html"%}

{%block title %}
About
{%endblock%}

{%block content %}

<!-- About section-->
<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>About Us</h2>
                <p class="lead">Kumbidi, Ummathur, Near MES College of Engineering, Kuttipuram, Palakkad, Kerala - 676553</p>
            </div>
        </div>
        <div>
            <b> Opening Hours</b><br>
            Mon:	Open 24 hours<br>
            Tue:	Open 24 hours<br>
            Wed:	Open 24 hours<br>
            Thu:	Open 24 hours<br>
            Fri:	Open 24 hours<br>
            Sat:	Open 24 hours<br>
            Sun:	Open 24 hours<br>
        </div>
    </div>
</section>
{% endblock %}